<{* breadcrumb *}>
<{foreach item=bread from=$breadcrumb}>
    <a href="<{$bread.url}>"><{$bread.title}></a>
    &gt;
<{/foreach}>
<{$smarty.const._XADDRESSES_MD_SUBMIT_EDIT}>

<br />

<ul>
    <li><{$smarty.const._XADDRESSES_MD_SUBMIT_SUBMITONCE}></li>
    <li><{$smarty.const._XADDRESSES_MD_SUBMIT_ALLPENDING}></li>
    <li><{$smarty.const._XADDRESSES_MD_SUBMIT_DONTABUSE}></li>
    <li><{$smarty.const._XADDRESSES_MD_SUBMIT_TAKEDAYS}></li>
</ul>

<br />

<{if $errorMessage!= ''}>
	<div class="errorMsg"><{$errorMessage}></div>   
<{/if}>
<{$themeForm}>
