<div><{$sortbyform}></div>
<table>
    <tr>
        <th><{$smarty.const._AM_XADDRESSES_LOC_ID}></th>
        <th><{$smarty.const._AM_XADDRESSES_LOC_MODIFY_DATE}></th>
        <th><{$smarty.const._AM_XADDRESSES_LOC_MODIFY_SENDER}></th>
        <th><{$smarty.const._AM_XADDRESSES_LOC_MODIFY_DESCRIPTION}></th>
        <th><{$smarty.const._AM_XADDRESSES_ACTION}></th>
    </tr>
<{foreach from=$modifySuggests item='modifySuggest'}>
    <tr class="<{cycle values='odd, even'}>">
        <td><{$modifySuggest.loc_id}></td>
        <td><{$modifySuggest.suggest_date}></td>
        <td>
            <{$modifySuggest.suggest_sender_linkeduname}>
            <br />
            <{$smarty.const._AM_XADDRESSES_LOC_MODIFY_SENDER_IP}>: <{$modifySuggest.suggest_ip}>
        </td>
        <td><{$modifySuggest.suggest_description}></td>
        <td>
            <a href="location.php?op=edit_modify&amp;suggest_id=<{$modifySuggest.suggest_id}>" title="<{$smarty.const._AM_XADDRESSES_LOC_MODIFY_EDIT_LOC}>"><{$smarty.const._AM_XADDRESSES_LOC_MODIFY_EDIT_LOC}></a>
            &nbsp;
            <a href="location.php?op=delete_modify&amp;suggest_id=<{$modifySuggest.suggest_id}>" title="<{$smarty.const._AM_XADDRESSES_LOC_MODIFY_DEL}>"><{$smarty.const._AM_XADDRESSES_LOC_MODIFY_DEL}></a>
        </td>
    </tr>
<{/foreach}>
</table>
</form>