<{* used in: locationbroken.php *}>
<{* breadcrumb *}>
<{if ($breadcrumb)}>
    <{foreach item=bread from=$breadcrumb}>
        <a href="<{$bread.url}>"><{$bread.title}></a>
        &gt;
    <{/foreach}>
<{$smarty.const._MA_XADDRESSES_LOC_REPORTBROKEN}>
<br />
<{/if}>

<ul>
    <li><{$smarty.const._MA_XADDRESSES_LOC_BROKEN_THANKSFORHELP}></li>
    <li><{$smarty.const._MA_XADDRESSES_LOC_BROKEN_FORSECURITY}></li>
</ul>

<br />

<{if $errorMessage!= ''}>
	<div class="errorMsg"><{$errorMessage}></div>   
<{/if}>
<{$themeForm}>
