<{* breadcrumb *}>
<{if ($breadcrumb)}>
    <{foreach item=bread from=$breadcrumb}>
        <a href="<{$bread.url}>"><{$bread.title}></a>
        &gt;
    <{/foreach}>
<{$smarty.const._XADDRESSES_MD_LOC_EDIT}>
<br />
<{/if}>

<ul>
    <li><{$smarty.const._XADDRESSES_MD_LOC_SUBMIT_SUBMITONCE}></li>
    <li><{$smarty.const._XADDRESSES_MD_LOC_SUBMIT_ALLPENDING}></li>
    <li><{$smarty.const._XADDRESSES_MD_LOC_SUBMIT_DONTABUSE}></li>
    <li><{$smarty.const._XADDRESSES_MD_LOC_SUBMIT_TAKEDAYS}></li>
</ul>

<br />

<{if $errorMessage!= ''}>
	<div class="errorMsg"><{$errorMessage}></div>   
<{/if}>
<{$themeForm}>
