<div><{$sortbyform}></div>
<form action="location.php" method="post" id="locationform">
<table>
    <tr>
        <th><{$smarty.const._XADDRESSES_AM_LOC_TITLE}></th>
        <th><{$smarty.const._XADDRESSES_AM_LOC_CAT}></th>
        <th><{$smarty.const._XADDRESSES_AM_LOC_WEIGHT}></th>
        <th><{$smarty.const._XADDRESSES_AM_LOC_DATE}></th>
        <th><{$smarty.const._XADDRESSES_AM_LOC_SUBMITTER}></th>
        <th><{$smarty.const._XADDRESSES_AM_LOC_STATUS}></th>
        <th><{$smarty.const._XADDRESSES_AM_LOC_HITS}></th>
        <th><{$smarty.const._XADDRESSES_AM_LOC_RATING}></th>
        <th><{$smarty.const._XADDRESSES_AM_ACTION}></th>
    </tr>
<{foreach from=$modifiedlocations item='modifiedlocation'}>
    <tr class="<{cycle values='odd, even'}>">
        <td><{$modifiedlocation.loc_title}></td>
        <td><{$categories[$modifiedlocation.loc_cat_id]}></td>
        <td><{$modifiedlocation.loc_weight}></td>
        <td><{$modifiedlocation.loc_date}></td>
        <td><{$modifiedlocation.loc_submitter}></td>
        <td>
        <{if ($modifiedlocation.loc_status != 0)}>
            OK
        <{else}>
            NOT OK
        <{/if}>
        </td>
        <td>IN PROGRESS</td>
        <td>IN PROGRESS</td>
        <td>IN PROGRESS</td>>
    </tr>
    <tr class="<{cycle values='odd, even'}>">
        <td><{$modifiedlocation.original_location->getVar('loc_title')}></td>
        <td><{$modifiedlocation.original_location->getVar('loc_cat_id')}></td>
        <td><{$modifiedlocation.original_location->getVar('loc_cat_id')}><{$modifiedlocation.}></td>
        <td>$modifiedlocation.loc_date}></td>
        <td>$modifiedlocation.loc_submitter}></td>
        <td>IN PROGRESS</td>
        <td>IN PROGRESS</td>
        <td>IN PROGRESS</td>
    </tr>
<{/foreach}>
</table>
<div><{$pagenav}></div>
</form>