<{* breadcrumb *}>
<{if ($breadcrumb)}>
    <{foreach item=bread from=$breadcrumb}>
        <a href="<{$bread.url}>"><{$bread.title}></a>
        &gt;
    <{/foreach}>
<{$smarty.const._MA_XADDRESSES_LOC_RATELOCATION}>
<br />
<{/if}>

<ul>
    <li><{$smarty.const._MA_XADDRESSES_LOC_RATE_VOTEONCE}></li>
    <li><{$smarty.const._MA_XADDRESSES_LOC_RATE_RATINGSCALE}></li>
    <li><{$smarty.const._MA_XADDRESSES_LOC_RATE_BEOBJECTIVE}></li>
    <li><{$smarty.const._MA_XADDRESSES_LOC_RATE_DONOTVOTE}></li>
</ul>

<br />

<{if $errorMessage!= ''}>
	<div class="errorMsg"><{$errorMessage}></div>   
<{/if}>
<{$themeForm}>
