<{* breadcrumb *}>
<{if ($breadcrumb)}>
<{foreach item=bread from=$breadcrumb}>
    <a href="<{$bread.url}>"><{$bread.title}></a>
    &gt;
<{/foreach}>
<{$smarty.const._XADDRESSES_MD_LOC_MODIFY_SUGGESTMODIFY}>
<br />
<{/if}>

<ul>
    <li><{$smarty.const._XADDRESSES_MD_LOC_MODIFY_THANKSFORHELP}></li>
    <li><{$smarty.const._XADDRESSES_MD_LOC_MODIFY_FORSECURITY}></li>
</ul>

<br />

<style type="text/css">
td .suggest {
    background-color: yellow;
    color: red;
}
</style>
<{if $errorMessage!= ''}>
	<div class="errorMsg"><{$errorMessage}></div>   
<{/if}>
<{$themeSuggestForm}>
<br />
<{$themeModifyForm}>
