<{* breadcrumb *}>
<{foreach item=bread from=$breadcrumb}>
    <a href="<{$bread.url}>"><{$bread.title}></a>
    &gt;
<{/foreach}>

<h1><{$location.loc_title}></h1>

<{* Google map code *}>
<{$htmlMap}>

<{* standard fields *}>
<{$location.loc_date}>
<br />
<{$location.loc_submitter_uname}>
<br />

<{* extra fields grouped by category *}>
<{foreach item=fieldscategory from=$fieldscategoriesarray}>
    <h2><{$fieldscategory.cat_title}></h2>
    <{assign var=fieldsbycategory value=$fieldsarray[$fieldscategory.cat_id]}>
    <{foreach item=field from=$fieldsbycategory}>
        <div style="border:1px solid black;">
        <h3><{$field.title}></h3> <{$field.value}>
        </div>
    <{/foreach}>
    <hr />
<{/foreach}>

<{* operations *}>
<a href='locationedit.php?loc_id=<{$location.loc_id}>'>Modifica</a>
&nbsp;|&nbsp;
<a href='locationbroken.php?loc_id=<{$location.loc_id}>'>Segnala errore</a>
<br />


<{* IN_PROGRESS *}>

<{*
<{if $tags}>
    <br /><{include file="db:tag_bar.html"}>
<{/if}>
<div>
    <{$commentsnav}>
    <{$lang_notice}>
</div>
<div>
<{if $comment_mode == "flat"}>
    <{include file="db:system_comments_flat.html"}>
<{elseif $comment_mode == "thread"}>
    <{include file="db:system_comments_thread.html"}>
<{elseif $comment_mode == "nest"}>
    <{include file="db:system_comments_nest.html"}>
<{/if}>
</div>
<{include file="db:system_notification_select.html"}>
*}>