<{* used in: locationview.php *}>
<{* breadcrumb *}>
<{if ($breadcrumb)}>
<{foreach item=bread from=$breadcrumb}>
    <a href="<{$bread.url}>"><{$bread.title}></a>
    &gt;
<{/foreach}>
<{/if}>

<h1><{$location.loc_title}></h1>

<{* Google map code *}>
<{$htmlMap}>

<{* standard fields *}>
<{$smarty.const._AM_XADDRESSES_LOC_DATE}>: <{$location.loc_date}>
<br />
<{$smarty.const._AM_XADDRESSES_LOC_SUBMITTER}>: <{$location.loc_submitter_linkeduname}>
<br />
<{$smarty.const._MA_XADDRESSES_LOC_RATING}>: <{$location.loc_rating}>
<{$smarty.const._MA_XADDRESSES_LOC_VOTES|replace:'%s':$location.loc_votes}>
<br />
<{$smarty.const._MA_XADDRESSES_LOC_COMMENTS|replace:'%s':$location.loc_comments}>
<br />


<{* extra fields grouped by category *}>
<{foreach item=fieldscategory from=$fieldscategoriesarray}>
    <h2><{$fieldscategory.cat_title}></h2>
    <{assign var=fieldsbycategory value=$fieldsarray[$fieldscategory.cat_id]}>
    <{foreach item=field from=$fieldsbycategory}>
        <div style="border:1px solid black;">
        <h3><{$field.title}></h3>
        <small>(<{$field.type}>)</small>
        <{if ($field.type == 'image')}>
            <img src="<{$field.value}>" alt="<{$field.value}>" />
        <{elseif ($field.type == 'file')}>
            <a href="<{$field.value}>" alt="<{$field.value}>" />DOWNLOAD</a>
        <{else}>
            <{$field.value}>
        <{/if}>
        </div>
    <{/foreach}>
    <hr />
<{/foreach}>

<{* operations *}>
<a href='locationedit.php?loc_id=<{$location.loc_id}>'><{$smarty.const._MA_XADDRESSES_LOC_EDIT}></a>
<{if $perm_report_broken}>
&nbsp;|&nbsp;
<a href='locationbroken.php?loc_id=<{$location.loc_id}>'><{$smarty.const._MA_XADDRESSES_LOC_REPORTBROKEN}></a>
<{/if}>
<{if $perm_suggest_modify}>
&nbsp;|&nbsp;
<a href='locationmodify.php?loc_id=<{$location.loc_id}>'><{$smarty.const._MA_XADDRESSES_LOC_REPORTMODIFY}></a>
<{/if}>
<{if $perm_rate}>
&nbsp;|&nbsp;
<a href='locationrate.php?loc_id=<{$location.loc_id}>'><{$smarty.const._MA_XADDRESSES_LOC_RATELOCATION}></a>
<{/if}>
<{if $perm_tell_a_friend}>
&nbsp;|&nbsp;
<a href='<{$tell_a_friend_href}>'><{$smarty.const._MA_XADDRESSES_LOC_TELLAFRIEND}></a>
<{/if}>
<br />


<{* IN_PROGRESS *}>
<{*
<{if $tags}>
<br />
<{include file="db:tag_bar.html"}>
<{/if}>
*}>

<{* comments system *}>
<div>
    <{$commentsnav}>
    <{$lang_notice}>
</div>
<div>
<{if $comment_mode == "flat"}>
    <{include file="db:system_comments_flat.html"}>
<{elseif $comment_mode == "thread"}>
    <{include file="db:system_comments_thread.html"}>
<{elseif $comment_mode == "nest"}>
    <{include file="db:system_comments_nest.html"}>
<{/if}>
</div>

<{* notification system *}>
<{include file="db:system_notification_select.html"}>
