<div><{$sortbyfilterform}></div>
<{if (count($locations) > 0)}>
    <form action="location.php" method="post" id="locationform">
    <table>
        <tr>
            <th><{$smarty.const._AM_XADDRESSES_LOC_ID}></th>
            <th><{$smarty.const._AM_XADDRESSES_LOC_TITLE}></th>
            <th><{$smarty.const._AM_XADDRESSES_LOC_CAT}></th>
            <th><{$smarty.const._AM_XADDRESSES_LOC_DATE}></th>
            <th><{$smarty.const._AM_XADDRESSES_LOC_SUBMITTER}></th>
            <th><{$smarty.const._AM_XADDRESSES_LOC_STATUS}></th>
            <th><{$smarty.const._AM_XADDRESSES_LOC_HITS}></th>
            <th><{$smarty.const._AM_XADDRESSES_LOC_RATING}></th>
            <th><{$smarty.const._AM_XADDRESSES_ACTION}></th>
        </tr>
    <{foreach from=$locations item='location'}>
        <tr class="<{cycle values='odd, even'}>">
            <td><{$location.loc_id}></td>
            <td>
                <a href="location.php?op=view_location&amp;loc_id=<{$location.loc_id}>" title="<{$smarty.const._AM_XADDRESSES_DISPLAY}>">
                <{$location.loc_title}>
                </a>
            </td>
            <td><{$categories[$location.loc_cat_id]}></td>
            <td><{$location.loc_date}></td>
            <td><{$location.loc_submitter_linkeduname}></td>
            <td>
                <{if ($location.loc_status != 0)}>
                    <{if ($location.canEdit)}>
                        <a href="location.php?op=lock_status&amp;loc_id=<{$location.loc_id}>" title="<{$smarty.const._AM_XADDRESSES_LOC_LOCK}>">
                        <{$smarty.const._AM_XADDRESSES_LOC_STATUS_OK}>
                        </a>
                    <{else}>
                        <{$smarty.const._AM_XADDRESSES_LOC_STATUS_OK}>
                    <{/if}>
                <{else}>
                    <{if ($location.canEdit)}>
                        <a href="location.php?op=unlock_status&amp;loc_id=<{$location.loc_id}>" title="<{$smarty.const._AM_XADDRESSES_LOC_UNLOCK}>">
                        <{$smarty.const._AM_XADDRESSES_LOC_STATUS_NOT_VALIDATED}>
                        </a>
                    <{else}>
                        <{$smarty.const._AM_XADDRESSES_LOC_STATUS_NOT_VALIDATED}>
                    <{/if}>
                <{/if}>
            </td>
            <td>IN PROGRESS</td>
            <td>
                <{$smarty.const._MA_XADDRESSES_LOC_RATING}>: <{$location.loc_rating}>
                <{$smarty.const._MA_XADDRESSES_LOC_VOTES|replace:'%s':$location.loc_votes}>
            </td>
            <td>
                <{if ($location.canView)}>
                    <a href="location.php?op=view_location&amp;loc_id=<{$location.loc_id}>" title="<{$smarty.const._AM_XADDRESSES_DISPLAY}>"><{$smarty.const._AM_XADDRESSES_DISPLAY}></a>
                    &nbsp;
                <{/if}>
                <{if ($location.canEdit)}>
                   <{if ($location.loc_status == 1)}>
                        <a href="location.php?op=lock_status&amp;loc_id=<{$location.loc_id}>" title="<{$smarty.const._AM_XADDRESSES_LOC_LOCK}>"><{$smarty.const._AM_XADDRESSES_LOC_LOCK}></a>
                        &nbsp;
                    <{else}>
                        <a href="location.php?op=unlock_status&loc_id=<{$location.loc_id}>" title="<{$smarty.const._AM_XADDRESSES_LOC_UNLOCK}>"><{$smarty.const._AM_XADDRESSES_LOC_UNLOCK}></a>
                        &nbsp;
                    <{/if}>
                    <a href="location.php?op=edit_location&amp;loc_id=<{$location.loc_id}>" title="<{$smarty.const._EDIT}>"><{$smarty.const._EDIT}></a>
                    &nbsp;
                <{/if}>
                <{if $location.canDelete}>
                    <a href="location.php?op=delete_location&amp;loc_id=<{$location.loc_id}>" title="<{$smarty.const._DELETE}>"><{$smarty.const._DELETE}></a>
                    &nbsp;
                <{/if}>
            </td>
        </tr>
    <{/foreach}>
    </table>
<{else}>
    <div class="errorMsg"><{$smarty.const._AM_XADDRESSES_ERROR_NO_LOCS}></div>
<{/if}>
<div><{$pagenav}></div>
</form>